{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title"><a href="{{ path('dashboard') }}" class="non-active">Dashboard </a> <i class="nc-icon nc-minimal-right"></i> <span class="active-link">Category List</span> </h6>
                <a href="{{ path('category_new') }}" class="new-cta" data-toggle="tooltip" title="Add a new company"><i class="fas fa-folder-plus"></i></a>

            </div>
            <div class="card-body">

    <table class="table" id="categories">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}" class="show-cta" data-toggle="tooltip" title="show details"><i class="far fa-eye"></i></a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}"class="edit-cta"  data-toggle="tooltip" title="Edit this category"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#categories').DataTable();
        } );
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
{% endblock %}
