{% extends 'base.html.twig' %}

{% block title %}Edit Order{% endblock %}

{% block body %}
    <h1>Edit Order</h1>
    <div class="edit-delete-cta">
        {{ include('order/_delete_form.html.twig') }}
    </div>

    {{ form_start(form) }}

    <div class="container">
        <div class="card w-100 p-lg-5" >
            <div class="row">

                <div class="col">
                    {{ form_row(form.deliveryAt) }}
                    {{ form_row(form.status) }}
                </div>
                <div class="col">
                    {{ form_row(form.customer) }}
                    {{ form_row(form.products) }}
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-cta">
        <button class="btn update-cta">{{ button_label|default('Update') }}</button>
        <a href="{{ path('order_index') }}" data-toggle="tooltip" title="Back to list"><i class="nc-icon nc-minimal-left"></i></a>


    </div>

    {{ form_end(form) }}

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
