{% extends 'base.html.twig' %}

{% block title %}New Order{% endblock %}

{% block body %}
    <h1> new Order</h1>
    {{ form_start(form) }}

    <div class="container">
        <div class="card w-100 p-lg-5" >
            <div class="row">

                <div class="col">
                    {{ form_row(form.deliveryAt) }}
                    {{ form_row(form.status) }}
                </div>
                <div class="col">
                    {{ form_row(form.customer) }}
                    {{ form_row(form.products) }}
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="footer-cta">
        <button class="btn add-cta">{{ button_label|default('Save') }}</button>

    </div>
    {{ form_end(form) }}


    <div class="footer-cta">
        <a href="{{ path('order_index') }}" data-toggle="tooltip" title="Back to list"><i class="nc-icon nc-minimal-left"></i></a>


    </div>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
