{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order Details </h1>
    <div class="edit-delete-cta">
        <a href="{{ path('order_edit', {'id': order.id}) }}" class="edit-cta" data-toggle="tooltip" title="Edit this order"><i class="fas fa-edit"></i></a>
        {{ include('order/_delete_form.html.twig') }}

    </div>
    <table class="table">
        <tbody>
        <tr>
            <th>Customer</th>
            <td>{{ order.customer.name }}</td>
        </tr>
            <tr>
                <th>Order Date</th>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DeliveryAt</th>
                <td>{{ order.deliveryAt ? order.deliveryAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

            <tr>
                <th>Status</th>
                <td>{{ order.status }}</td>
            </tr>

            <tr>
                <th>Products</th>
                <td>
                    {% for product in  order.products%}
                        <li>{{ product.name }} - {{ product.price }} DH</li>
                    {% endfor %}

                </td>
            </tr>

        </tbody>
    </table>

    <div class="footer-cta">
        <a href="{{ path('order_index') }}" data-toggle="tooltip" title="Back to list"><i class="nc-icon nc-minimal-left"></i></a>


    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}
