{% extends 'base.html.twig' %}

{% block title %}New Address{% endblock %}

{% block body %}
    <h1>Create new Address</h1>

{#    {{ include('address/_form.html.twig') }}#}
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.address) }}
        </div>
        <div class="col-md-auto">
            {{ form_row(form.zipCode) }}
        </div>
        <div class="col col-lg-2">
            {{ form_row(form.city) }}
        </div>
    </div>
    </div>


    {{ form_end(form) }}

    <a href="{{ path('address_index') }}">back to list</a>
{% endblock %}
